{{ define "headlinks" }}

<link rel="stylesheet" type="text/css" href="/css/utils/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Arima+Madurai:wght@500|Roboto:400,400italic,500,500italic,700,700italic|Material+Icons&family=Noto+Sans+KR&display=swap//fonts.googleapis.com/css?family=Arima+Madurai:wght@500|Roboto:400,400italic,500,500italic,700,700italic|Material+Icons&family=Noto+Sans+KR&display=swap">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
<!-- <link rel="stylesheet" href="/css/custom/styles.css" type="text/css" media="all" /> -->
<link rel="stylesheet" href="/css/custom/styles.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/custom/single.css" >
<script src="/js/utils/anchor.min.js"></script>
<style>
  /*
  * =========================================================
  * 						    CARD CONTENT CSS
  * =========================================================
  */
  .classpagecontent .card {
    border: none !important;
    border-radius: 0.5rem !important;
    box-shadow: 0 0 40px #e6eff8 !important;
    margin: 0.75rem !important;
    padding: 0 !important;
  }
  
  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
  }
  
  .classpagecontent .card .card-header {
    background-color: var(--color-secondary);
    color: #fff !important;
    border-bottom: 0;
  }
  
  .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgba(0,0,0,.03);
    border-bottom: 1px solid rgba(0,0,0,.125);
  }
  
  .classpagecontent .card .card-body {
    padding: 0;
  }
  
  .table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
  }
  
  table {
    border-collapse: collapse;
  }
  
  .classpagecontent .card .card-body tr td {
    padding: 0.75rem 2rem;
    border-color: rgba(76, 101, 213, 0.24);
  }
  
  .table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
  }
  
  .classpagecontent .card .card-body tr td a {
    color: #000;
    text-decoration: none !important;
    display: block;
  }
  
  
  .results tr[visible='false'],
  .no-result{
    display:none;
  }
  
  .results tr[visible='true']{
    display:table-row;
  }
  
  .counter{
    padding:8px; 
    color:#ccc;
  }
  </style>
{{ end }}

{{ define "sidebar" }}

<!-- Sidebar navigation -->
<div class="aiforkids-sidebar" slimscrollbars>
    <ul class="aiforkids-sidenav-navlist m-2 p-0 ">
      <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> School Syllabus</span>
        </a>
      </li>
      
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 10</span>
        </a>      
      </li>
      
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 9</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 8</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 7</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 6</span>
        </a>
      </li>
  
  
      <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text">  Important Topics</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Data</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Project Cycle</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Algorithm</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> Projects</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 10 projects</span>
        </a>
      </li>
      
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 9 projects</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 8 projects</span>
        </a>
      </li>
   
  
      <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> Worksheets</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 10 Worksheets</span>
        </a>
      </li>
      
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 9 Worksheets</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 8 Worksheets</span>
        </a>
      </li>
   
  
      <li class="aiforkids-sidenav-item "> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> 7 Worksheets</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 6 Worksheets</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> Practise Quizzes</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 10 Quizzes</span>
        </a>
      </li>
      
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 9 Quizzes</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 8 Quizzes</span>
        </a>
      </li>
   
  
      <li class="aiforkids-sidenav-item"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> 7 Quizzes</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 6 Quizzes</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> Meta Links</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Home</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> About Us</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Contact Us</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Terms & Conditions</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Privacy Policy</span>
        </a>
      </li>
  <li> <br> <br> <br> <br> <br> </li>
    
    </ul>
  
  </div>

{{end}}
{{ define "main" }}
<main id="single" class="content ">
    {{if isset .Params "underdev"}}
    {{if eq .Params.underdev "yes"}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Important: </strong> We are Working hard on this page, Page Under Development!!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{end}}
    {{end}}
    {{ partial "pagetopmeta.html" . }}
      {{ .Content }}  <!-- Main Content Of The Page -->
    {{if isset .Params "pagination"}}
      <div class="pagination mt-5">
        <a class="btn border aiforkids-tooltip" href="{{ .Params.pagination.prev_link}}">  Previous<span class="tooltiptext">{{ truncate 40 .Params.pagination.prev_text}}</span></a>
         <a class="btn border ml-auto aiforkids-tooltip" href="{{ .Params.pagination.next_link}}">  Next <span class="tooltiptext-lft"> {{ truncate 40 .Params.pagination.next_text}}</span></a>
      </div>
      {{end}}
      {{if isset .Params "related"}}
    <br> <br>
    <div class="hereMore-wrapper text-center">
      <thead><h4>Important Links</h4></thead>
      <table>
          <tr>
              <td><a href="{{.Params.related.link1}}">{{.Params.related.text1}}</a></td>
              <td><a href="{{.Params.related.link2}}">{{.Params.related.text2}}</a></td>
          </tr>
          <tr>
              <td><a href="{{.Params.related.link3}}">{{.Params.related.text3}}</a></td>
              <td><a href="{{.Params.related.link4}}">{{.Params.related.text4}}</a></td>
          </tr>
          {{if isset .Params.related "text5"}}
          <tr>
            <td><a href="{{.Params.related.link5}}">{{.Params.related.text5}}</a></td>
            <td><a href="{{.Params.related.link6}}">{{.Params.related.text6}}</a></td>
          </tr>
          {{end}}
          {{if isset .Params.related "text7"}}
          <tr>
            <td><a href="{{.Params.related.link7}}">{{.Params.related.text7}}</a></td>
            <td><a href="{{.Params.related.link8}}">{{.Params.related.text8}}</a></td>
          </tr>
          {{end}}
      </table>
    </div>
    {{else}}
    <br><br>
    <div class="hereMore-wrapper text-center">
      <thead><h4>Important Links</h4></thead>
      <table>
          <tr>
              <td><a href="/data">Data in Artificial Intelligence</a></td>
              <td><a href="/algorithm">What is Algorithm</a></td>
          </tr>
          <tr>
              <td><a href="/project-cycle">What is Project Cycle</a></td>
              <td><a href="/artificial-intelligence/">What is Artificial Intelligence</a></td>
          </tr>
      </table>
    </div>
    {{end}}
    </main>
{{end}}

{{ define "toc" }}

<aside class="side">
    <!-- Scrollspy -->
    <br> <br> <br>  <!-- FOR SPACE BELOW HEADER -->
  
    <nav id="toc" data-toggle="toc" class="sticky-top">
      <!-- <ul class="nav navbar-nav"> </ul> -->
    </nav>
    <!-- Scrollspy -->
  </aside>
{{end}}

{{ define "footerlinks" }}
<script src="/js/utils/breadcrumbs.min.js"></script>
<script src="/js/utils/toc.js"></script>
<script src="/js/custom/script.js"></script>
<script src="/js/custom/page.js"></script>
{{end}}