{{ define "headlinks" }}

<link rel="stylesheet" type="text/css" href="/css/utils/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Arima+Madurai:wght@500|Roboto:400,400italic,500,500italic,700,700italic|Material+Icons&family=Noto+Sans+KR&display=swap//fonts.googleapis.com/css?family=Arima+Madurai:wght@500|Roboto:400,400italic,500,500italic,700,700italic|Material+Icons&family=Noto+Sans+KR&display=swap">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
<!-- <link rel="stylesheet" href="/css/custom/styles.css" type="text/css" media="all" /> -->
<link rel="stylesheet" href="/css/custom/styles.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/custom/single.css" >
<script src="/js/utils/anchor.min.js"></script>

{{ end }}

{{ define "sidebar" }}

<!-- Sidebar navigation -->
<div class="aiforkids-sidebar" slimscrollbars>
  <ul class="aiforkids-sidenav-navlist m-2 p-0 ">
    <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
      <a href="#" class="aiforkids-sidenav-link"> 
        <span class="aiforkids-sidenav-text">Chapter 1. Intro to AI</span>
      </a>
    </li>
    
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">1. What Is Artificial Intelligence</span>
      </a>      
    </li>
    
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">2. Risks Of AI</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">3. Goals Of AI</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">4. Intro to AI Quiz </span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">5. AI in Education </span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">6. Applications Of AI</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">7. History Of AI</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">8. Intro to AI Quiz 2</span>
      </a>
    </li>


    <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
      <a href="#" class="aiforkids-sidenav-link"> 
        <span class="aiforkids-sidenav-text">Chapter 1.1 Domains of AI </span>
      </a>
    </li>

    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">1. Flow Chart (Domains of AI)
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">2. Data and its type</span>
      </a>
    </li>

    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">3. Computer Vision </span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">4. NLP - NLU and NLC</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">5. Domains of AI Quiz 1</span>
      </a>
    </li>

    <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
      <a href="#" class="aiforkids-sidenav-link"> 
        <span class="aiforkids-sidenav-text">Chapter 2. AI Project Cycle</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">1. What is AI Project Cycle</span>
      </a>
    </li>
    
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">2. Flow Chart (AI Project Cycle)</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">3. Problem Scoping</span>
      </a>
    </li>
 

    <li class="aiforkids-sidenav-item"> 
      <a href="#" class="aiforkids-sidenav-link"> 
        <span class="aiforkids-sidenav-text">4. Data Acquisition</span>
      </a>
    </li>

    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">5. Modelling</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">6. Final Stage - Evaluation</span>
      </a>
    </li>

    <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
      <a href="#" class="aiforkids-sidenav-link"> 
        <span class="aiforkids-sidenav-text">Chapter 3. Neural Networks</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">1. Intro To Neural Networks</span>
      </a>
    </li>
    
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">2. NN In Everyday Life</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">4. Human Brain</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">5. Creating Brain Like Neural Networks</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">6. Neural Network With Two Hidden Layers</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">7.  Applications of Neural Networks</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">8. Information Flow in Neural Networks</span>
      </a>
    </li>

    <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
      <a href="#" class="aiforkids-sidenav-link"> 
        <span class="aiforkids-sidenav-text">Chapter 4. Python
          </span>
      </a>
    </li>

    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">1. Python (Intro , Syntax )</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">2. Compiler , Interpreter and IDE</span>
      </a>
    </li>

    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">3. Using IDE</span>
      </a>
    </li>

    <li class="aiforkids-sidenav-item "> 
      <a href="#" class="aiforkids-sidenav-link"> 
        <span class="aiforkids-sidenav-text">4. Practical Python Basics</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">5. Print() in Python</span>
      </a>
    </li>
    
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text"> 6. Comments In Python
          </span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">7. Variables In Python</span>
      </a>
    </li>
 

    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">9. Naming Variables In Python</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">10. DATA Types In Python</span>
      </a>
    </li>

    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">11. Arithmetic Operators for Python</span>
      </a>
    </li>

    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text"> 12. Statements And Expressions</span>
      </a>
    </li>
    
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">13. Python Input()</span>
      </a>
    </li>
    <li class="aiforkids-sidenav-item ">
      <a href="#" class="aiforkids-sidenav-link">
        <span class="aiforkids-sidenav-text">14. More On Print()</span>
      </a>
    </li>
 <br> <br> <br> <br> <br>

    
  </ul>

</div>

{{end}}

{{ define "main" }}
<main id="single" class="content">
  {{if isset .Params "underdev"}}
  {{if eq .Params.underdev "yes"}}
  <div class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>Important: </strong> We are Working hard on this page, Page Under Development!!
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {{end}}
  {{end}}
{{ partial "singletopmeta.html" . }}
  {{ .Content }}    <!-- Main Content Of The Page -->
  

{{if isset .Params "pagination"}}
<div class="pagination mt-5">
  <a class="btn border aiforkids-tooltip" href="{{ .Params.pagination.prev_link}}">  Previous<span class="tooltiptext">{{ truncate 40 .Params.pagination.prev_text}}</span></a>
   <a class="btn border ml-auto aiforkids-tooltip" href="{{ .Params.pagination.next_link}}">  Next <span class="tooltiptext-lft"> {{ truncate 40 .Params.pagination.next_text}}</span></a>
</div>
{{end}}
{{if isset .Params "related"}}
<br> <br>
<div class="hereMore-wrapper text-center">
  <thead><h4>Important Links</h4></thead>
  <table>
      <tr>
          <td><a href="{{.Params.related.link1}}">{{.Params.related.text1}}</a></td>
          <td><a href="{{.Params.related.link2}}">{{.Params.related.text2}}</a></td>
      </tr>
      <tr>
          <td><a href="{{.Params.related.link3}}">{{.Params.related.text3}}</a></td>
          <td><a href="{{.Params.related.link4}}">{{.Params.related.text4}}</a></td>
      </tr>
      {{if isset .Params.related "text5"}}
      <tr>
        <td><a href="{{.Params.related.link5}}">{{.Params.related.text5}}</a></td>
        <td><a href="{{.Params.related.link6}}">{{.Params.related.text6}}</a></td>
      </tr>
      {{end}}
      {{if isset .Params.related "text7"}}
      <tr>
        <td><a href="{{.Params.related.link7}}">{{.Params.related.text7}}</a></td>
        <td><a href="{{.Params.related.link8}}">{{.Params.related.text8}}</a></td>
      </tr>
      {{end}}
  </table>
</div>
{{else}}
<br><br>
<div class="hereMore-wrapper text-center">
  <thead><h4>Important Links</h4></thead>
  <table>
      <tr>
          <td><a href="/class-10/syllabus">Class 10 Syllabus</a></td>
          <td><a href="/worksheets/class-10">Class 10 Worksheets</a></td>
      </tr>
      <tr>
          <td><a href="/projects/class-10">Class 10 Projects</a></td>
          <td><a href="/quizzes/class-10">Class 10 Quizzes</a></td>
      </tr>
  </table>
</div>
{{end}}
</main>
{{ end }}

{{ define "toc" }}

<aside class="side">
    <!-- Scrollspy -->
    <br> <br> <br>  <!-- FOR SPACE BELOW HEADER -->
  
    <nav id="toc" data-toggle="toc" class="sticky-top">
      <!-- <ul class="nav navbar-nav"> </ul> -->
    </nav>
    <!-- Scrollspy -->
  </aside>
{{end}}


{{ define "footerlinks" }}
<script src="/js/utils/breadcrumbs.min.js"></script>
<script src="/js/utils/toc.js"></script>
<script src="/js/custom/script.js"></script>
<script src="/js/custom/page.js"></script>
{{end}}