
{{ define "headlinks" }}

<link rel="stylesheet" type="text/css" href="/css/utils/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Arima+Madurai:wght@500|Roboto:400,400italic,500,500italic,700,700italic|Material+Icons&family=Noto+Sans+KR&display=swap//fonts.googleapis.com/css?family=Arima+Madurai:wght@500|Roboto:400,400italic,500,500italic,700,700italic|Material+Icons&display=swap">

<link href="https://fonts.googleapis.com/icon?family=Material+Icons"  rel="stylesheet">
<!-- <link rel="stylesheet" href="/css/custom/styles.css" type="text/css" media="all" /> -->
<link rel="stylesheet" href="/css/custom/styles.min.css" type="text/css" media="all" />
<link rel="stylesheet" href="/css/custom/single.css" >
<script src="/js/utils/anchor.min.js"></script>

{{ end }}
{{ define "sidebar" }}

<!-- Sidebar navigation -->
<div class="aiforkids-sidebar" slimscrollbars>
    <ul class="aiforkids-sidenav-navlist m-2 p-0 ">
      <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> School Syllabus</span>
        </a>
      </li>
      
      <li class="aiforkids-sidenav-item ">
        <a href="/class-11/syllabus" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 11</span>
        </a>      
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="/class-10/syllabus" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 10</span>
        </a>      
      </li>
      
      <li class="aiforkids-sidenav-item ">
        <a href="/class-9/syllabus" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 9</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="/class-8/syllabus" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 8</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="/class-7/syllabus" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 7</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="/class-6/syllabus" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 6</span>
        </a>
      </li>
  
  
      <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text">  Important Topics</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item ">
        <a href="/data" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Data</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="/project-cycle" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Project Cycle</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item ">
        <a href="/algorithm" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Algorithm</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> Projects</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="/projects/class-10" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 10 projects</span>
        </a>
      </li>
      
      <li class="aiforkids-sidenav-item ">
        <a href="/projects/class-9" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 9 projects</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="/projects/class-8" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Class 8 projects</span>
        </a>
      </li>
   
  
      <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
        <a href="/worksheets" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> Worksheets</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="/worksheets/class-10" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 10 Worksheets</span>
        </a>
      </li>
      
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 9 Worksheets</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 8 Worksheets</span>
        </a>
      </li>
   
  
      <li class="aiforkids-sidenav-item "> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> 7 Worksheets</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 6 Worksheets</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> Practise Quizzes</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 10 Quizzes</span>
        </a>
      </li>
      
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 9 Quizzes</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 8 Quizzes</span>
        </a>
      </li>
   
  
      <li class="aiforkids-sidenav-item"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> 7 Quizzes</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> 6 Quizzes</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item aiforkids-sidenav-heading"> 
        <a href="#" class="aiforkids-sidenav-link"> 
          <span class="aiforkids-sidenav-text"> Meta Links</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Home</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> About Us</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Contact Us</span>
        </a>
      </li>
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Terms & Conditions</span>
        </a>
      </li>
  
      <li class="aiforkids-sidenav-item ">
        <a href="#" class="aiforkids-sidenav-link">
          <span class="aiforkids-sidenav-text"> Privacy Policy</span>
        </a>
      </li>
  <li> <br> <br> <br> <br> <br> </li>
    
    </ul>
  
  </div>

{{end}}
{{ define "toc" }}

<aside class="side">
    <!-- Scrollspy -->
    <br> <br> <br>  <!-- FOR SPACE BELOW HEADER -->
  
    <nav id="toc" data-toggle="toc" class="sticky-top">
      <!-- <ul class="nav navbar-nav"> </ul> -->
    </nav>
    <!-- Scrollspy -->
  </aside>
{{end}}
{{ define "main" }}
<main id="single" class="content ">
    {{if isset .Params "underdev"}}
    {{if eq .Params.underdev "yes"}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      <strong>Important: </strong> We are Working hard on this page, Page Under Development!!
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {{end}}
    {{end}}
      {{ .Content }}  <!-- Main Content Of The Page -->
 
  
 
<!-- this template is sucked in by search.js and appended to the search-results div above. So editing here will adjust style -->
<script id="search-result-template" type="text/x-js-template">
    <div id="summary-${key}">
      <h4 class="aiforkids_heading3"><a href="${link}">${title}</a></h4>
      <p>${snippet}</p>
      ${ isset tags }<p>Tags: ${tags}</p>${ end }
      ${ isset categories }<p>Categories: ${categories}</p>${ end }
    </div>
</script>
</main>
{{ end }}

{{ define "footerlinks" }}
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fuse.js/3.2.0/fuse.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mark.js/8.11.1/jquery.mark.min.js"></script>
<script src="{{ "js/search.js" | absURL }}"></script>
<script src="/js/custom/script.js"></script>
<script src="/js/custom/page.js"></script>
{{end}}

