<!-- <nav class="topnav d-none" id="myTopnav">
	<a href="#home" class="active">Home</a>
	<a href="#news">News</a>
	<a href="#contact">Contact</a>
	<a href="#about">About</a>
	<a href="javascript:void(0);" class="icon" onclick="menuToggle()">
	  <i class="fa fa-bars"></i>
	</a>
</nav> -->
<nav id="navbar-mobile" class="navbar  navbar-light ">
	<a class="navbar-brand" href="/"><img src="/apple-icon-57x57.png" alt="logo"></a>
	<button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#mobile-navbar-aiforkids" aria-controls="mobile-navbar-aiforkids" aria-expanded="false" aria-label="Toggle navigation">
	  <span class="navbar-toggler-icon"></span>
	</button>
  
	<div class="collapse navbar-collapse" id="mobile-navbar-aiforkids">
	  <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
		<li class="nav-item active">
		  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/data">Data</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/project-cycle">Project Cycle</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/algorithm">Algorithm</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/cbse-ai">Curriculum</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/about">About</a>
		</li>
		<li class="nav-item">
		  <a class="nav-link" href="/contact">Contact</a>
		</li>

		<!-- <li class="nav-item">
			Theme: <img src="/images/moon.png" alt="" id="theme_switch_icon">
		</li> 
		<li class="nav-item">
			<div id="google_translate_elemen"></div>
		</li>
		<script type="text/javascript">
			function googleTranslateElementInit() {
			new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_elemen');
			}
		</script>-->
	
	  </ul>
	  <!-- <form class="form-inline my-2 my-lg-0">
		<input class="form-control mr-sm-2" type="search" placeholder="Search">
		<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	  </form> -->
	</div>
			
</nav>
<header class="site-main-header main-head">

	<!-- <div class="headerTop"> -->

	<nav class="navbar navbar-expand-lg p-0 header_nav" id="header_nav">
	
		<a href="/" class="navbar-brand header_identity">
			<div class="header_logo">
				<img class="" src="/images/aiforkids-logo.png" alt="logo">
			</div>
		</a>
		<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navText"
			aria-controls="navText" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon">Menu</span>
		</button> -->

		<div class="" id="navText">
			<ul class="navbar-aiforkids">

				<li class="header_item d-none-1090">
					<a href="/" class="header_link">
						Home
					</a>
				</li>
				<li class="header_item">
					<a href="/data/" class="header_link">
						Data
					</a>
				</li>
				<li class="header_item">
					<a href="/project-cycle/" class="header_link">
						Project Cycle
					</a>
				</li>
				<li class="header_item d-none-900">
					<a href="/algorithm" class="header_link ">
						Algorithm
					</a>
				</li>
				<li class="header_item d-none-1090">
					<a href="/ai-learning-path" class="header_link ">
						Learning Path
					</a>
				</li>
				<li class="header_item">
					<a href="/cbse-ai" class="header_link ">
						Curriculum
					</a>
				</li>
				<li class=" header_item d-none-992">
					<a href="/about-us/" class="header_link d-600-n">
						About
					</a>
				</li>
				<li class="header_item">
					<a href="/contact-us/" class="header_link">
						Contact
					</a>
				</li>
				<li class="header_item">
					<a href="/search" class="header_link">
						<i class="fa fa-search"></i>
					</a>
				</li>
				
				<li class="header_item">
					<img src="/images/moon.png" alt="" id="theme_switch_icon">
				</li>
				<div id="google_translate_element" class="langselect float-right"></div>
		<script defer type="text/javascript">
			function googleTranslateElementInit() {
			new google.translate.TranslateElement({pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
			}
		</script>


	<!-- <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script> -->
				<!-- <div class="switch langselect">
					<div class="btn border current">
						<span>English</span>
						<em class="arrow"><svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" viewBox="0 0 23 23">
								<title>ic_arrow_drop_down_18px</title>
								<g fill="grey">
									<path d="M5 8l4 4 4-4z"></path>
								</g>
							</svg></em>
					</div>
					<div class="options">
						<ul class="options-list">
							<li data-lang="English">English</li>
							<li data-lang="हिंदी">हिंदी</li>
							<li data-lang="বাংলা">বাংলা</li>
							<li data-lang="मराठी">मराठी</li>
							<li data-lang="తెలుగు">తెలుగు</li>
						</ul>
			
						<div id="trans-circle"> <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120">
								<g id="circle" fill="none" fill-rule="evenodd">
									<circle id="bg" cx="60" cy="60" r="60" fill="#FFFFFF" />
								</g>
							</svg>
						</div>
					</div>
				</div> -->
			
			</ul>
		</div>

		<!-- Custom rounded search bars with input group -->
		<!-- <div class="header_item" >
			<form action="">
				<div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
				<div class="input-group">
					<input type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
					<div class="input-group-append">
					<button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
					</div>
				</div>
				</div>
			</form>
		</div> -->
		<!-- End -->


	</nav>

	<!-- </div> -->

</header>
<script type="text/javascript" defer src="/js/inapps/google_translate_api/element.js?cb=googleTranslateElementInit"></script>
<style>
	.form-control:focus {
		box-shadow: none;
	}

	.form-control-underlined {
		border-width: 0;
		border-bottom-width: 1px;
		border-radius: 0;
		padding-left: 0;
	}
</style>